.menu__list {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.menu__item {
  list-style: none;
}
.menu__item-link {
  text-decoration: none;
  color: black;
}
.container {
  margin: 0 auto;
  width: 1024px;
}
h1, h2 {
  text-align: center;
}